body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Cabin', sans-serif;
  font-family: 'Montserrat', sans-serif;
  background-color: #E0F1FF;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

input,
button,
textarea,
select {
  outline: none;
}

a:hover {
  text-decoration: none;
}

a,
span {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1 {
  font-weight: 600;
  font-size: 70px;
  color: #1F2A66;
  text-transform: inherit;
  line-height: 1.2;
}

h3 {
  font-weight: 600;
  font-size: 35px;
  color: #1F2A66;
  text-transform: inherit;
  line-height: 1.4;
}

p {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #1F2A66;
  text-transform: inherit;
}

.gl-similar-btn a,
.gl-similar-btn button {
  font-family: 'Cabin', sans-serif;
  background: #FE5D16;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  text-transform: inherit;
  padding: 15px 25px;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gl-similar-btn a svg,
.gl-similar-btn button svg {
  margin-left: 8px;
}

.gl-similar-btn a:hover,
.gl-similar-btn button:hover {
  background-color: #1F2A66;
}

.gl-similar-btn.change-bg a {
  background-color: #1F2A66;
}

.similar-hero-area {
  padding-top: 330px;
  padding-bottom: 400px;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center !important;
}

.similar-hero-area h1 {
  color: #FFFFFF;
}

.similar-hero-area p {
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 45px;
}

/*===============================================================*/
/*==========***       START MAIN CSS FROM HERE      ***==========*/
/*===============================================================*/


/*=== Start GL Header Area Css ===*/
.gl-header-area {
  background-color: transparent;
  padding: 20px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.gl-header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gl-header-logo a {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #FFFFFF;
  text-transform: inherit;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gl-header-logo img {
  width: 60px;
  height: auto;
  margin-right: 8px;
}

.gl-header-menu>ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gl-header-menu>ul li {
  position: relative;
  margin: 0 20px;
}

.gl-header-menu ul li a {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #FAFAFA;
  text-transform: capitalize;
  line-height: 1.3;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.gl-header-menu ul li a svg {
  width: 22px;
  height: auto;
  margin-top: -5px;
}

.gl-header-menu>ul li a:hover,
.home-header-content .gl-header-menu ul li a:hover {
  color: #FE5D16;
}

.gl-header-menu>ul li a:hover svg path,
.home-header-content .gl-header-menu>ul li a:hover svg path {
  fill: #FE5D16;
}

.how-works-menu>ul li a:hover {
  color: #1F2A66;
}

.how-works-menu>ul li a:hover svg path {
  fill: #1F2A66;
}

.gl-header-menu ul li ul {
  position: absolute;
  left: 0;
  bottom: -98px;
  width: 130px;
  padding-top: 15px;
  display: none;
}

.gl-header-menu ul li:hover ul {
  display: block;
}

.gl-header-menu ul li ul li {
  padding: 2px 0;
  margin: 0;
}

.gl-header-right-btn.gl-similar-btn a {
  font-size: 20px;
  padding: 10px 20px;
}

.gl-header-right-btn.gl-similar-btn a svg {
  margin-left: 0;
  margin-right: 2px;
  margin-top: -2px;
}


.home-header-content .gl-header-logo a,
.home-header-content .gl-header-menu ul li a {
  color: #1F2A66;
}

.home-header-content .gl-header-menu>ul li a svg path {
  fill: #1F2A66;
}

.mobile-menu-icon {
  background: #FAFAFA;
  padding: 5px;
  border: 1.5px solid #0c5eef;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  display: none;
}

.all-p-humber {
  width: 22px;
  height: 18px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 99;
}

.all-p-humber span {
  display: block;
  position: absolute;
  height: 2px;
  width: 22px;
  background: #0c5eef;
  border-radius: 0;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  left: 0;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.all-p-humber span:nth-child(1) {
  top: 0px;
}

.all-p-humber span:nth-child(2),
.all-p-humber span:nth-child(3) {
  top: 7px;
}

.all-p-humber span:nth-child(4) {
  top: 14px;
}

.all-p-humber.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.all-p-humber.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.all-p-humber.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.all-p-humber.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}




/*=== End GL Header Area Css ===*/


/*========================================================*/
/*=====             START HOME PAGE CSS              =====*/
/*========================================================*/



/* start gl home hero area css  */
.gl-home-hero-area {
  padding-top: 160px;
}

.gl-home-hero-top-content {
  width: 70%;
  margin-bottom: 220px;
}

.gl-home-hero-top-content h1 {
  margin-bottom: 15px;
}

.gl-home-hero-top-content p {
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 60px;
  width: 85%;
  color: #566096;
}

.gl-home-hero-bottom-content {
  position: relative;
}

.gl-home-hero-bottom-video-content video {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.gl-home-hero-bottom-text-content {
  background-color: #FE5D16;
  border-radius: 15px;
  position: absolute;
  right: 0;
  top: -98%;
  z-index: 1;
}

.single-gl-home-hero-bottom-text-content {
  padding: 45px 75px;
  text-align: center;
  border-bottom: 1px solid #FAFAFA;
}

.single-gl-home-hero-bottom-text-content:last-child {
  border-bottom: none;
}

.single-gl-home-hero-bottom-text-content h1 {
  font-size: 80px;
  color: #FAFAFA;
  margin-bottom: 15px;
}

.single-gl-home-hero-bottom-text-content p {
  color: #FAFAFA;
}

.single-gl-home-hero-bottom-text-content h5 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FAFAFA;
}


/* end gl home hero area area css  */

/* start gl how it works area css  */
.gl-how-it-works-area {
  padding: 160px 0;
}

.gl-how-it-works-image-content img {
  width: 95%;
  height: auto;
}

.gl-how-it-works-text-content .gl-benefits-left-heading-text p {
  width: 100%;
}

.gl-how-it-works-text-content .gl-benefits-left-btn.gl-similar-btn {
  margin-top: 160px;
  text-align: right;
}

/* end gl how it works area css  */

/* start key features area css  */
.gl-key-features-area {
  padding: 0;
}

.gl-key-features-area.page {
  padding: 80px 0;
}

.gl-key-features-heading {
  padding-bottom: 80px;
}

.gl-key-features-heading p {
  font-size: 16px;
  color: #566096;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
}

.testimonials-heading p {
  font-size: 22px;
  max-width: 550px;
  margin: 0 auto;
  margin-top: 20px;
}

.gl-key-features-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-gl-key-features-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  padding: 0 10px;
}

.single-gl-key-features-icon {
  background-color: #FE5D16;
  width: 45px;
  height: 42px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-gl-key-features-icon svg {
  width: 27px;
  height: auto;
  margin: 0 auto;
  display: block;
}

.single-gl-key-features-text h6 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #1F2A66;
  text-transform: inherit;
  line-height: 1.5;
  margin: 15px 0 5px;
  width: 78%;
  min-height: 50px;
}

.single-gl-key-features-text p {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.60);
}

/* end key features area css  */

/* start gl benefits area css  */

.gl-benefits-right-image img {
  width: 100%;
  height: auto;
}

.gl-benefits-left-heading-text p {
  margin-top: 30px;
  margin-bottom: 60px;
  width: 95%;
}

.gl-benefits-left-list-item li {
  font-weight: 600;
  font-size: 22px;
  color: #1F2A66;
  text-transform: inherit;
  margin-bottom: 15px;
}

.gl-benefits-left-list-item li span {
  color: #FE5D16;
  margin-right: 20px;
}

.gl-benefits-left-btn.gl-similar-btn {
  margin-top: 120px;
}

/* end gl benefits area css  */


/* start testimonials case studies area css  */
.gl-testimonials-case-studies-area {
  padding-bottom: 160px;
}

.single-gl-testimonials-case-studies-slider-profile img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.single-gl-testimonials-case-studies-slider-profile-details {
  margin-top: 40px;
  padding-top: 18px;
  border-top: 1px solid #FE5D16;
}

.single-gl-testimonials-case-studies-slider-profile-details h4 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #1F2A66;
  text-transform: capitalize;
  text-align: center;
  line-height: normal;
  margin-bottom: 5px;
}

.single-gl-testimonials-case-studies-slider-text {
  background: #1F2A66;
  border-radius: 15px;
  color: #FFFFFF;
  padding: 35px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 95%;
  margin-left: 5%;
  margin-top: 100px;
}

.custom-carousel-button-position .carousel-control-prev {
  right: 50px;
  bottom: 0;
  top: inherit;
  left: inherit;
  width: 45px;
}

.custom-carousel-button-position .carousel-control-next {
  right: 0;
  bottom: 0;
  top: inherit;
  width: 45px;
}


/* end testimonials case studies area css  */

/* start technical specification area css */
.gl-technical-specification-area {
  padding: 0;
}

.gl-technical-specification-area.page {
  padding: 160px 0;
}

.gl-technical-specification-heading h1 {
  text-align: center;
  margin-bottom: 70px;
}

.single-gl-technical-specification-image img {
  width: 100%;
  height: 360px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 15px;
}

.single-gl-technical-specification-text {
  width: 94%;
}

.single-gl-technical-specification-text p {
  margin-top: 15px;
  margin-bottom: 60px;
}

.gl-technical-specification-content .row:nth-child(even) {
  margin: 80px 0;
}

.gl-technical-specification-content .row .col-lg-6:first-child {
  padding-right: 20px;
}

.gl-technical-specification-content .row .col-lg-6:last-child {
  padding-left: 20px;
}

.gl-technical-specification-content .gl-similar-btn a svg {
  margin-left: 60px;
}

.gl-technical-specification-content .read-success a svg {
  margin-left: 8px;
}

/* end technical specification area css */




/* start purchase pricing area css */
.gl-purchase-pricing-area {
  padding: 160px 0;
}

.gl-purchase-pricing-heading p {
  color: #737276;
}

.gl-purchase-pricing-heading p {
  color: #555F95;
  max-width: 685px;
  margin: 0 auto;
  margin-top: 25px;
}

.gl-purchase-pricing-content {
  margin: 80px 0;
}


.single-gl-purchase-pricing-content {
  background: #FAFAFA;
  padding: 40px;
  border-radius: 15px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.single-gl-purchase-pricing-content:hover {
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
}

.single-gl-purchase-pricing-top-content {
  padding: 40px 35px;
}



.single-gl-purchase-pricing-top-content h1 {
  font-weight: 600;
  font-size: 55px;
}

.single-gl-purchase-pricing-top-content h1 sub {
  font-size: 18px;
  color: #B1B1B1;
}

.single-gl-purchase-pricing-top-content h5 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #1F2A66;
  margin: 30px 0 15px;
}

.single-gl-purchase-pricing-bottom-content h2 {
  font-weight: 600;
  font-size: 24px;
  color: #1F2A66;
  text-transform: inherit;
  padding-bottom: 10px;
}

.single-gl-purchase-pricing-bottom-content {
  padding: 40px 0;
  border-top: 1px solid #B1B1B1;
}

.single-gl-purchase-pricing-bottom-content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 15px;
}

.single-gl-purchase-pricing-bottom-content ul li p {
  font-size: 16px;
  margin-left: 10px;
}

.single-gl-purchase-pricing-top-content p {
  font-size: 18px;
  color: #B1B1B1;
}

.single-gl-purchase-pricing-btn.gl-similar-btn a {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #1F2A66;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.25);
  background: transparent;
  color: #1F2A66;
}

.single-gl-purchase-pricing-content:hover .single-gl-purchase-pricing-btn.gl-similar-btn a,
.single-gl-purchase-pricing-btn.gl-similar-btn a:hover,
.single-gl-purchase-pricing-btn.gl-similar-btn a.active {
  background-color: #FE5D16;
  color: #FAFAFA;
  border: 1px solid #FE5D16;
}

.single-gl-purchase-pricing-content:hover .single-gl-purchase-pricing-btn.gl-similar-btn a svg path,
.single-gl-purchase-pricing-btn.gl-similar-btn a:hover svg path,
.single-gl-purchase-pricing-btn.gl-similar-btn a.active svg path {
  stroke: #FAFAFA;
}


.single-gl-purchase-pricing-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
}

.col-lg-4:nth-child(2) .single-gl-purchase-pricing-bottom {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.col-lg-4:last-child .single-gl-purchase-pricing-bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.single-gl-purchase-pricing-bottom img {
  height: 40px;
  width: auto;
  margin-right: 20px;
}

.single-gl-purchase-pricing-bottom p {
  font-size: 32px;
}

/* end purchase pricing area css */

/* start home installation setup area css */
.gl-home-installation-setup-video-content iframe {
  width: 100%;
  height: 700px;
  border-radius: 15px;
  margin-top: 80px;
}

.gl-home-installation-setup-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 70px 0;
}

.single-gl-home-installation-setup-count h1 {
  font-size: 95px;
}

.single-gl-home-installation-setup-count {
  text-align: center;
}

/* end home installation setup area css */




/* start gl about us area css */

.gl-about-us-area {
  padding: 160px 0;
}

.gl-about-us-top-story-image-content img {
  width: 97%;
  height: auto;
  border-radius: 15px;
}

.text-right {
  text-align: right;
}

.gl-about-us-top-story-area {
  background: #1F2A66;
  padding: 40px 0;
}

.gl-about-us-area .gl-purchase-pricing-heading {
  margin-bottom: 70px;
}

.gl-about-us-top-story-area .row,
.gl-about-us-bottom-story-area .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gl-about-us-top-story-image-content h5 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #FE5D16;
  margin-bottom: 15px;
}

.gl-about-us-top-story-image-content h3,
.gl-about-us-top-story-image-content p {
  color: #FFFFFF;
}

.gl-about-us-top-story-image-content p {
  font-size: 20px;
  margin-top: 20px;
}

.gl-about-us-bottom-story-area {
  background: #FE5D16;
  padding: 40px 0;
}

.gl-about-us-bottom-story-area .gl-about-us-top-story-image-content h5 {
  color: #1F2A66;
}

.gl-about-us-bottom-story-area .gl-similar-btn.change-bg a {
  margin-top: 25px;
  width: 230px;
}



/* start gl about us  area css */


/* start gl home blog  area css */
.single-gl-home-blog-content {
  background: #FAFAFA;
  margin-top: 25px;
}

.single-gl-home-blog-text-content {
  padding: 35px 15px 15px;
  width: 95%;
}

.single-gl-home-blog-content-image img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.single-gl-home-blog-text-heading h3 {
  font-size: 24px;
}

.single-gl-home-blog-text-heading p {
  font-size: 16px;
  color: #38437D;
  margin-top: 15px;
  margin-bottom: 40px;
}

.single-gl-home-blog-text-btn-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-gl-home-blog-text-btn-date p {
  font-size: 16px;
  color: #566096;
  margin-left: 30px;
}

.single-gl-home-blog-text-btn-date .gl-similar-btn a {

  width: 220px;
}

/* end gl home blog  area css */

/* start gl home contact area css */

.gl-home-contact-area {
  padding: 160px 0;
}

.gl-home-contact-content .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gl-home-contact-left-content .gl-purchase-pricing-heading {
  width: 90%;
  margin-bottom: 35px;
}

.gl-home-contact-left-content .gl-purchase-pricing-heading.text-left p {
  margin-left: 0;
}

.gl-home-contact-left-content .gl-similar-btn button {
  border: none;
}

.gl-home-contact-right-image img {
  width: 100%;
  height: auto;
}

.gl-home-contact-left-form form {
  width: 80%;
}

.gl-home-contact-left-form form input,
.gl-home-contact-left-form form textarea,
.gl-home-contact-left-full-field select {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 22px;
  color: #38437D;
  text-transform: inherit;
  line-height: normal;
  padding: 8px 0;
  border: none;
  border-bottom: 1px solid #38437D;
  width: 100%;
  background: transparent;
  margin-bottom: 25px;
}

.gl-home-contact-left-full-field select {
  cursor: pointer;
}

.gl-home-contact-left-form form input::-webkit-input-placeholder,
.gl-home-contact-left-form form textarea::-webkit-input-placeholder {
  color: #38437D;
}

.gl-home-contact-left-form form input::-moz-placeholder,
.gl-home-contact-left-form form textarea::-moz-placeholder {
  color: #38437D;
}

.gl-home-contact-left-form form input:-ms-input-placeholder,
.gl-home-contact-left-form form textarea:-ms-input-placeholder {
  color: #38437D;
}

.gl-home-contact-left-form form input::-ms-input-placeholder,
.gl-home-contact-left-form form textarea::-ms-input-placeholder {
  color: #38437D;
}

.gl-home-contact-left-form form input::placeholder,
.gl-home-contact-left-form form textarea::placeholder {
  color: #38437D;
}

.gl-home-contact-left-form form textarea {
  resize: none;
  height: 50px;
}

.gl-home-contact-left-half-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gl-home-contact-left-half-field input {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

/* end gl home contact area css */











/* start gl best opportunities area css  */
.gl-best-opportunities-area {
  background-color: #FE5D16;
  padding: 40px 0;
}

.gl-best-opportunities-left-content img {
  max-width: 280px;
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.gl-best-opportunities-right-text h3 {
  color: #FFFFFF;
}

.gl-best-opportunities-right-text p {
  color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* end gl best opportunities area css  */


/*===== START HOME PAGE VERSION TWO CSS  =====*/

.gl-how-it-works-logistics .gl-benefits-left-btn.gl-similar-btn {
  margin-top: 125px;
  text-align: left;
}

.gl-worldwide-logistics-area {
  padding-top: 160px;
}

.single-gl-worldwide-logistics-content h5 {
  font-weight: 600;
  font-size: 24px;
  color: #FE5D16;
  margin-bottom: 12px;
}

.single-gl-worldwide-logistics-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.single-gl-worldwide-logistics-content h3 {
  margin-top: 15px;
}

.single-gl-worldwide-logistics-content p {
  color: #566096;
  margin: 15px 0;
}

.single-gl-worldwide-logistics-content p {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #566096;
}

.single-gl-worldwide-logistics-content .gl-similar-btn a {
  width: 200px;
}

.gl-all-parts-world-area {
  background: #1F2A66;
  padding: 40px 0;
}

.gl-about-us-area.home-version-two {
  padding: 0;
}

.gl-hero-ceo-founder-area {
  background: #FE5D16;
  padding: 40px 0;
  border-radius: 10px 10px 0 0;
}

.gl-hero-ceo-founder-content .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.gl-hero-ceo-founder-text-content h1 {
  color: #FAFAFA;
  margin-bottom: 15px;
}

.gl-hero-ceo-founder-text-content h5 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #FAFAFA;
}

.gl-hero-ceo-founder-text-content p {
  font-size: 16px;
  color: #FAFAFA;
  margin-top: 5px;
}

.gl-hero-ceo-founder-image-content img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.gl-offer-services-area {
  padding-bottom: 160px;
}

.gl-offer-services-right-text-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.single-gl-offer-services-right-text-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  text-align: right;
  margin: 25px 0;
}

.gl-offer-services-left-text-content p {
  color: #566096;
  margin-top: 20px;
}

.single-gl-offer-services-right-text-content h1 {
  font-size: 90px;
  color: #FE5D16;
}

.single-gl-offer-services-right-text-content p {
  color: #FE5D16;
}

/*========================================================*/
/*=====             END HOME PAGE CSS              =====*/
/*========================================================*/

/*========================================================*/
/*=====         START HOW IT WORKS PAGE CSS          =====*/
/*========================================================*/

.gl-how-work-hero-area {
  position: relative;
  padding-top: 220px;
  padding-bottom: 160px;
  margin-bottom: 160px;
  z-index: 1;
}

.gl-how-work-hero-area::before {
  content: "";
  position: absolute;
  background-color: rgb(254, 93, 22);
  left: 0px;
  top: 0px;
  width: 50%;
  height: 100%;
  z-index: -1;
  border-radius: 0 0 0 10px;
}

.gl-how-work-hero-area::after {
  content: '';
  position: absolute;
  background-image: url('../images/works/hero-right.png');
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
  border-radius: 0 0 10px 0;
}

.gl-how-work-hero-text h1,
.gl-how-work-hero-text p {
  color: #FFFFFF;
}

.gl-how-work-hero-text h1 {
  margin-bottom: 500px;
}

.gl-experience-efficient-area {
  background: #1F2A66;
  padding: 80px 0;
  border-radius: 10px;
}

.gl-experience-efficient-top-text h1 {
  font-family: 'Cabin', sans-serif;
  font-weight: 500;
  color: #FAFAFA;
  margin-bottom: 20px;
}

.gl-experience-efficient-top-text p {
  max-width: 800px;
  font-size: 35px;
}

.gl-experience-efficient-top-text p,
.single-gl-experience-efficient-top-count h1,
.single-gl-experience-efficient-top-count p {
  color: #FAFAFA;
}

.gl-experience-efficient-area .single-gl-purchase-pricing-bottom p {
  color: #FF9F75;
}

.gl-experience-efficient-top-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 70px;
  margin-bottom: 50px;
}

.single-gl-experience-efficient-top-count {
  text-align: center;
  padding-left: 25px;
  border-left: 1px solid #FAFAFA;
}

.single-gl-experience-efficient-top-count h1 {
  font-size: 95px;
  margin-bottom: 15px;
}

.gl-purchase-pricing-bottom .row .col-md-4:nth-child(2) .single-gl-purchase-pricing-bottom {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.gl-purchase-pricing-bottom .row .col-md-4:last-child .single-gl-purchase-pricing-bottom {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.gl-logistics-evolution-area {
  padding: 160px 0;
}

.single-gl-logistics-evolution-content h1,
.single-gl-logistics-evolution-content p {
  font-family: 'Cabin', sans-serif;
}

.single-gl-logistics-evolution-content h1 {
  font-size: 65px;
}

.single-gl-logistics-evolution-content p {
  font-size: 33px;
  color: #566096;
  margin: 40px 0 60px;
}

.single-gl-logistics-evolution-content img {
  width: 100%;
  height: auto;
}

/*========================================================*/
/*=====          END HOW IT WORKS PAGE CSS           =====*/
/*========================================================*/

/*========================================================*/
/*=====      START FEATURES & BENEFITS PAGE CSS      =====*/
/*========================================================*/
.gl-features-benefits-hero-area {
  background-image: url('../images/features-benefits/fb-hero.png');
}

.benefits-and-features-area {
  padding: 80px 0 160px;
}

/*========================================================*/
/*=====       END FEATURES & BENEFITS PAGE CSS       =====*/
/*========================================================*/

/*========================================================*/
/*=====          START CASE STUDIES PAGE CSS         =====*/
/*========================================================*/
.gl-case-studies-hero-area {
  background-image: url('../images/case-studies/case.png');
}

/*========================================================*/
/*=====           END CASE STUDIES PAGE CSS          =====*/
/*========================================================*/

/*========================================================*/
/*=====    START TECHNICAL SPECIFICATION PAGE CSS    =====*/
/*========================================================*/
.gl-technical-specification-hero-area {
  background-image: url('../images/technical/tech.png');
}

.gl-technical-specification-area.page {
  padding: 160px 0 80px;
}

/*========================================================*/
/*=====     END TECHNICAL SPECIFICATION PAGE CSS     =====*/
/*========================================================*/



/*========================================================*/
/*=====         START PURCHASE PRICE PAGE CSS        =====*/
/*========================================================*/
.gl-purchase-pricing-hero-area {
  background-image: url('../images/case-studies/case.png');
}

.gl-unlocking-benefits-area {
  padding-bottom: 100px;
}

.gl-unlocking-benefits-area .container {
  max-width: 1450px;
}

.single-gl-unlocking-benefits-slider-item {
  background: #FE5D16;
  padding: 30px;
  border-radius: 15px;
}

.gl-unlocking-benefits-heading h1 {
  max-width: 90%;
  width: 100%;
  margin-bottom: 70px;
}

.single-gl-unlocking-benefits-slider-item h4 {
  font-weight: 600;
  font-size: 22px;
  color: #FAFAFA;
  text-transform: capitalize;
  line-height: normal;
  margin-bottom: 15px;
}

.single-gl-unlocking-benefits-slider-item p {
  color: #FAFAFA;
}

.single-gl-unlocking-benefits-slider-item p {
  font-size: 16px;
}

.gl-unlocking-benefits-slider-content.owl-theme .owl-nav {
  margin-top: 10px;
  position: absolute;
  top: -175px;
  right: 15px;
}

.gl-unlocking-benefits-slider-content.owl-theme .owl-nav [class*=owl-] {
  font-size: 45px !important;
  margin: 0 15px;
  padding: 0;
  color: #B1B1B1 !important;
}

.gl-unlocking-benefits-slider-content.owl-theme .owl-nav [class*=owl-]:hover {
  background: transparent;
  color: #1F2A66 !important;
}

/*========================================================*/
/*=====          END PURCHASE PRICE PAGE CSS         =====*/
/*========================================================*/





.gl-testimonials-slider-area,
.gl-footer-area,
.gl-best-opportunities-area,
.gl-about-us-story-area,
.gl-all-parts-world-area,
.gl-hero-ceo-founder-area {
  width: 95%;
  margin: 0 auto;
}

/*=== Start GL Testimonials Area Css ===*/
.gl-testimonials-slider-area {
  background-color: #1F2A66;
  padding: 40px 0;
}

.gl-testimonials-slider-content .carousel-item h3,
.single-gl-testimonials-case-studies-slider-text h3 {
  color: #FAFAFA;
}

.gl-testimonials-slider-content .carousel-indicators button {
  font-weight: 500;
  font-size: 25px;
  color: #000000;
  margin-top: 40px;
}

.gl-testimonials-slider-heading h4,
.single-gl-testimonials-case-studies-slider-text h4 {
  font-weight: 500;
  font-size: 22px;
  color: #FE5D16;
  text-transform: inherit;
  line-height: normal;
  margin-bottom: 25px;
}

.gl-testimonials-slider-content .carousel-indicators,
.gl-testimonials-slider-content .carousel-inner,
.gl-testimonials-slider-heading {
  width: 75%;
  margin: 0 auto;
}

.gl-testimonials-slider-content .carousel-indicators {
  position: inherit;
  margin-top: 30px;
  margin-top: 30px;
}

.gl-testimonials-slider-content .carousel-indicators [data-bs-target] {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  width: auto;
  height: auto;
  padding: 0;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  opacity: 1;
  -webkit-transition: opacity .6s ease;
  -o-transition: opacity .6s ease;
  transition: opacity .6s ease;
  text-indent: 0;
  font-weight: 500;
  font-size: 20px;
  color: #FAFAFA;
  margin: 0;
  border: none;
  text-align: left;
  padding: 20px 8px 0;
  border-top: 1px solid #FAFAFA;
}

.gl-testimonials-slider-content button.active {
  border-top: 1px solid #FE5D16 !important;
}

/*=== End GL Testimonials Area Css ===*/


/*=== Start GL Footer Area Css ===*/
.gl-footer-area {
  background-color: #1F2A66;
  padding: 40px 0 15px;
  margin-bottom: 25px;
  border-radius: 0 0 10px 10px;
}

.gl-main-footer-content {
  border-top: 1px solid #FAFAFA;
  padding: 20px 0 60px;
}

.gl-footer-heading h1 {
  color: #FAFAFA;
  margin-bottom: 70px;
}

.gl-footer-left-link-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.single-gl-footer-left-link-content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.33%;
  flex: 0 0 33.33%;
}

.single-gl-footer-left-link-content ul li a,
.single-gl-footer-right-phone-email-content a {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #FAFAFA;
  text-transform: capitalize;
  margin-bottom: 15px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.single-gl-footer-left-link-content ul li a:hover,
.single-gl-footer-right-phone-email-content a:hover {
  color: #FE5D16;
}

.gl-footer-right-content {
  padding-left: 40px;
}

.gl-footer-right-phone-email-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.single-gl-footer-right-phone-email-content:first-child {
  margin-right: 60px;
}

.single-gl-footer-right-phone-email-content h6,
.gl-footer-right-phone-email-field p {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #FAFAFA;
  margin-bottom: 10px;
}

.gl-footer-right-phone-email-field {
  margin-top: 45px;
}

.gl-footer-right-phone-email-field form {
  position: relative;
}

.gl-footer-right-phone-email-field form input {
  font-weight: 600;
  font-size: 35px;
  color: #FAFAFA;
  background: transparent;
  border: none;
  border-bottom: 1px solid #FAFAFA;
  width: 100%;
  padding: 5px 70px 4px 0;
}

.gl-footer-right-phone-email-field form input::-webkit-input-placeholder {
  color: #FAFAFA;
}

.gl-footer-right-phone-email-field form input::-moz-placeholder {
  color: #FAFAFA;
}

.gl-footer-right-phone-email-field form input:-ms-input-placeholder {
  color: #FAFAFA;
}

.gl-footer-right-phone-email-field form input::-ms-input-placeholder {
  color: #FAFAFA;
}

.gl-footer-right-phone-email-field form input::placeholder {
  color: #FAFAFA;
}

.gl-footer-right-phone-email-field form button {
  background: none;
  border: none;
  position: absolute;
  right: 0;
  z-index: 2;
}

.gl-footer-copywrite-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #FAFAFA;
  padding-top: 20px;
}

.gl-footer-copywrite-content p {
  font-weight: 400;
  font-size: 16px;
  color: #FAFAFA;
  text-transform: inherit;
}

.gl-footer-social-content a svg {
  width: 24px;
  height: auto;
  margin-left: 10px;
}

/*=== End GL Footer Area Css ===*/